.Header{
    width: 1440px;
    height: 89px;
    margin: 0 auto;
    background-color: #FAFAF9;
}
.headerText{
    display: inline-flex;
    color: #A5AAAF;
    font-size: 16px;
    font-weight: 400;
    padding-left: 100px;
    gap: 10px;
    font-family: 'Rubik';
    padding-top: 30px;
}
