.deliverys {
  margin: 0 auto;
  width: 1440px;
  .lines{
    border-bottom: 1px solid #A5AAAF;
    margin-bottom: 100px;
    border-top: 1px solid #A5AAAF;
  }
  .getProduct {
    text-align: center;
    h1 {
      text-align: center;
      color: #a5aaaf;
    }
    .options {
      display: inline-flex;
      padding-top: 50px;
      gap: 90px;
      font-family: "Rubik";
      font-size: 20px;
      font-weight: 600;
      .one {
        p {
          width: 263px;
        }
      }
      .two {
        p {
          width: 260px;
        }
      }
      .three {
        p {
          width: 300px;
        }
      }
    }
  }
  .menu {
    ul {
      display: flex;
      gap: 20px;
      font-size: 18px;
      font-family: "Rubik";
      font-weight: 600;
      padding-top: 60px;
      padding-left: 100px;
      .menuParent{
        width: 80px;
        text-align: center;
      }
    }
  }
  .title {
    padding-top: 77px;
    padding-left: 100px;
  }

  .routing {
    width: 1440px;
    height: 89px;
    margin: 0 auto;
  }
  .routingText {
    display: inline-flex;
    color: #a5aaaf;
    font-size: 16px;
    font-weight: 400;
    padding-left: 100px;
    padding-top: 30px;
    gap: 10px;
    font-family: "Rubik";
  }
  .commonBlock {
    font-family: "Rubik";
    margin-top: 80px;
    padding-left: 100px;
    .block1 {
      h2{
        margin-top: 34px;
        margin-bottom: 70px;
      }
      h3{
        margin-bottom: 20px;
      }
      h1 {
        color: #f2b236;
        padding-bottom: 30px;
      }
      p {
     margin-bottom: 30px;
      }
      .box{
        display: flex;
        gap: 10px;
        .price{
          color: #F2B236;
          }
          .linepod{
            width: 265px;
            height: 1px;
            background-color:#CED0D2 ;
          }
        .box1{
          width: 265px;
          border: 1px solid #CED0D2;
          border-radius: 6px 6px 6px 6px;
          text-align: center;
            h4{
              margin-bottom: 12px;
              margin-top: 8px;
            }
        }
        .box2{
          width: 265px;
          border: 1px solid #CED0D2;
          border-radius: 6px 6px 6px 6px;
          text-align: center;
          h4{
            margin-bottom: 12px;
            margin-top: 8px;
          }
        }
      }
    }
    .block2 {
      h1 {
        color: #f2b236;
        margin-bottom: 20px;
      }
      .table{
        .table1{
          margin-bottom: 2px;
          th{
            font-weight: bold;
            padding: 12px;
            width: 163px;
            background: #CED0D2;
            border: 1px solid #dddddd;
            border-radius: 5px 5px 5px 5px;
          }
          .th1{
            width: 325px;
          }
        }
        .table2{
          margin-bottom: 2px;
          th{
            font-weight: bold;
            padding: 12px;
            width: 163px;
            background: #FAFAF9;
            border: 1px solid #dddddd;
            border-radius: 5px 5px 5px 5px;
          }
          .th1{
            width: 325px;
          }
        }
        .table3{
          margin-bottom: 2px;
          th{
            font-weight: bold;
            padding: 12px;
            width: 163px;
            background: #FAFAF9;
            border: 1px solid #dddddd;
            border-radius: 5px 5px 5px 5px;
          }
          .th1{
            width: 325px;
          }
        }
        .table4{
          margin-bottom: 2px;
          th{
            font-weight: bold;
            padding: 12px;
            width: 163px;
            background: #FAFAF9;
            border: 1px solid #dddddd;
            border-radius: 5px 5px 5px 5px;
          }
          .th1{
            width: 325px;
          }
        }
        .table5{
          margin-bottom: 2px;
          th{
            font-weight: bold;
            padding: 12px;
            width: 163px;
            background:#CED0D2 ;
            border: 1px solid #dddddd;
            border-radius: 5px 5px 5px 5px;
          }
          .th1{
            width: 325px;
          }
        }
      }
    }
    .block3 {
      h1 {
        color: #f2b236;
      }
    }
  }
  .return{
    padding-left: 100px;
    .borderReturn{
      border: 1px solid #CED0D2;
      border-radius: 12px;
      width: 717px;
      height: 104px;
      padding: 10px;
    }
  }
  .payment{
    padding-left: 100px;
    .paymentImg{
      display: flex;
      gap:40px;
      margin-top: 40px;
      margin-bottom: 100px;
    }
  }
}

.menuParent::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  margin-left: 50%;
  background-color: #F2B236;
  border-radius: 100px;
}

.menuParent:hover::after {
  margin: 0;
  transition: 0.3s ease-out;
  width: 78px;
  cursor: pointer;
}

@media (max-width:375px){
  .deliverys{
    width: 375px;
    margin: 0 auto;
    .commonBlock{
      padding-left: 20px;
      .block1{
        .box{
          .box1{
            width: 160px;
            .linepod{
              width: 159px;
            }
          }
          .box2{
            width: 160px;
            .linepod{
              width: 159px;
            }
          }
        }
        h1{
          font-size: 21px;
          width: 335px;
        }
        .p{
          width: 325px;
        }
      }
    }
    .lines{
      border-bottom: none;
      border-top: none;
      .title{
        padding-left: 20px;
      }
      .menu{
        ul{
          padding-left: 20px;
        }
      }
      .getProduct{
        h1{
          font-size: 25px;
          font-family: 'Rubik';
          padding-top: 70px;
        }
        .options{
          flex-direction: column;
        }
      }
    }
    .routing{
      display: none;
    }
  }
}
