* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.blockBlock {
  display: flex;
  max-width: 470px;
  margin: 0 auto;
  line-height: 30px;
  padding-top: 20px;
}
.faiCard {
  color: #f2b236;
  font-weight: 300;
}
.faiC {
  font-size: 20px;
}
.titleReviews {
  padding: 20px;
  &P {
    width: 440px;
    line-height: 20px;
  }
}
.imageReviews {
  height: 121px;
  width: 120px;
}
