.card {
  width: 564px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 4px 9px #d3d3d3;
  border-radius: 14px;
}

.cardInner {
  margin: 0 130px;
  display: grid;
  grid-template-columns: 564px 564px;
  gap: 5rem;
}
.up_title {
}
.up_right {
}
.blockBlock {
  display: flex;
  max-width: 470px;
  margin: 0 auto;
  line-height: 30px;
  padding-top: 20px;
}
.faiCard {
  color: #f2b236;
  font-weight: 300;
}
.faiC {
  font-size: 20px;
}
.titleReviews {
  padding: 20px;
  &P {
    width: 440px;
    line-height: 20px;
  }
}
.imageReviews {
  height: 121px;
  width: 120px;
}
