.Card {
  width: 320px;
  height: 400px;
  border: 1px solid #ced0d2;
  border-radius: 14px;
  padding: 15px;
  .up {
    display: flex;
  }
  .textUp {
    h2{
      text-overflow:ellipsis;
    }
    padding-left: 20px;
    p {
      color: #a5aaaf;
    }
  }
  .textCenter {
    width: 322px;
    p {
      width: 316px;
      height: 148px;
      padding-left: 0;
      padding-right: 25px;
      padding-top: 10px;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #222528;
    }
    .b {
      text-decoration: underline;
    }
  }
  .textBottom{
    display: inline-flex;
    color: #A5AAAF;
    gap: 5px;
    padding-top: 20px;
    .p2{
        text-decoration: underline;
    }
  }
  .path{
    text-align: center;
    h3 a{
        color: #DB4E66;
        font-size: 17px;
        padding-top: 10px;
  }
}
}


